* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: #6508fa;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
    color: #eb1111;
    transform: scale(1.1);
}

/* Section Styles */
section {
    height: 100vh;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
#home {
    background-color: rgb(255, 106, 0);
}

#about {
    background-color: rgb(85, 254, 200);
}

#services {
    background-color: rgb(2, 182, 17);
}

#contact {
    background-color: bisque;
}